@model List<Catalog.DataAccess.Brand>
@{
    ViewData["Title"] = "List";
}

<h1>Brand List</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            int i = 0;
            i++;
        <tr>
            <th scope="row">@i</th>
            <td>@item.Name</td>
            <td><a>@Html.ActionLink("Update", "Update", "Brand",new { id = item.BrandID})</a></td>
            <td><a>@Html.ActionLink("Delete", "Delete", "Brand", new { id = item.BrandID })</a></td>
        </tr>
        }

    </tbody>
    @Html.ActionLink("Create New", "Add", "Brand", new { @class = "form-control" })
</table>